* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

main {
    height: calc(100vh - 103px);
    background-image: url(../img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    height: 100%;
    background: linear-gradient( 90deg, rgb(7 7 7 / 50%) 0%, rgb(77 39 10 / 80%) 100% );
}   

.container {
    width: 85%;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    text-decoration: none;

    transition: all 0.5s linear;
}

.main-button {
    background-color: #532019;
    color: white;
    padding: 22px 24px;
    font-size: 1rem;
    border-radius: 10px;
}

.outline-btn {
    background-color: transparent;
    color: #532019;
    padding: 10px 14px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid #532019;
}

.secondary-button {
    background-color: transparent;
    color: white;
    padding: 10px 34px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid white;
}


.btn:hover {
    background-color: #8f4406;
}

.outline-btn:hover {
    background-color: #532019;
    color: white;
}

.secondary-button:hover {
    background-color: white;
    color: #532019;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.nav {
    display: flex;
}

.dropdown-container {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0,0,0,22%);
    background: white;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.dropdown-active {
    opacity: 1;
    visibility: visible;
}

.dropdown-item {
    font-size: 1rem;
    background: white;
    color: #000;
    transition: 0.2s;
}

.dropdown-item a {
    display: block;
    padding: 8px 10px;
    text-decoration: none;
    color: #000;
    background: #fff;
}

.dropdown-item a:hover {
    background: #532019;
    color: white;
}

.dropdown-item:not(:last-child) {
    border-bottom: 1px solid #eae5e5;
}

.nav-item {
    text-decoration: none;
    color: #532019;
    font-size: 1.2rem;
}

.nav-item-container {
    margin-right: 40px;
}

header {
    border-bottom: 1px solid #532019;
}

.main-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-title {
    color: white;
    font-size: 12rem;
    font-family: 'Nunito', sans-serif;
}

.main-subtitle {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.benefits {
    padding: 100px 0;
}

.benefit-title {
    font-size: 4rem;
    color: #532019;
    margin-bottom: 40px;
}

.cards-holder {
    display: flex;
    justify-content: space-between;
}

.card {
    text-align: center;
    background-color: #532019;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgb(81, 63, 63) 15px 15px 40px;
}

.card-title {
    font-size: 2rem;
    color: white;
    margin-top: 15px;
}

.card-image img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
}

.gallery {
    background-color: #532019;
    height: 100vh;
    padding: 100px 0;
}

.gallery-container {
    height: 100%;
}

.gallery-holder {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.content-title {
    font-size: 4rem;
    color: white;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.content-images {
    position: relative;
}

.content-images img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 10px #975151;
}

.image-1 {
    position: absolute;
    z-index: 0;
    top: 130px;
    right: 370px;
}

.image-2 {
    position: absolute;
    z-index: 0;
    top: -40px;
    right: 200px;
}

.image-3 {
    position: absolute;
    z-index: 999;
    top: 180px;
    right: 40px;
}

footer {
    padding: 40px 0;
    border-top: 1px solid #532019;
}

footer a {
    display: block;
}

.footer-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-socials {
    display: flex;
}

.footer-socials img {
    width: 40px;
    height: 40px;
}

.footer-socials a:last-child {
    margin-left: 20px;
}

.footer-nav {
    text-align: center;
}

footer .nav-item {
    margin-top: 10px;
}

.footer-note {
    font-size: 0.8rem;
    color: #532019;
    text-align: center;
    margin-top: 40px;
}

.footer-note p:last-child {
    margin-top: 10px;
}

.about {
    height: calc(100vh - 103px);
    background-image: url(../img/bg-abt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container {
    height: 100%;
}

.about-holder {
    width: 40%;
    padding: 100px 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.about-title {
    font-size: 4rem;
    color: white;
    margin-bottom: 50px;
}

.about-desc {
    font-size: 1.2rem;
    color: white;
}

.about-desc span {
    font-size: 1.4rem;
}

.portfolio {
    height: 100vh;
    position: relative;
}

.portfolio-container {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 45px 0;    
}

.portfolio-title {
    font-size: 4rem;
    color: #532019;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-holder img {
    object-fit: cover;
}

.portfolio-holder .left {
    margin-right: 20px;
}

.left-up img,
.right-down img {
    width: 500px;
    height: 250px;
}

.left-down,
.right-up {
    display: flex;
    justify-content: space-between;
}

.left-down img,
.right-up img {
    width: 240px;
    height: 250px;
}

.left-up,
.right-up {
    margin-bottom: 15px;
}

.staff {
    height: 100vh;
    background-color: #532019;
    display: flex;
    align-items: center;
}

.staff-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.staff-title {
    font-size: 3rem;
    color: white;
}

.staff-subtitle {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.649);
    margin-top: 20px;
}

.staff-image img {
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.menu {
    padding: 50px 0;
}

.category-title {
    font-size: 1.8rem;
    color: #532019;
    text-align: center;
    margin-bottom: 40px;
}

.mt50 {
    margin-top: 50px;
}

.category-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    width: 250px;
    height: 300px;
    background-color: white;
    border: 1px solid #532019;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    transition: 0.4s;
    margin-bottom: 30px;
    box-shadow: rgba(58, 6, 6, 0.15) 0px 48px 100px 0px;
}

.menu-item:hover {
    transform: scale(1.1);
}

.menu-item-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid #532019;
}

.menu-item-title {
    font-size: 1rem;
    color: #532019;
    margin-top: 5px;
}

.menu-item-desc {
    font-size: 0.8rem;
    color: #532019a8;
    margin-top: 5px;
}

.locations-intro {
    height: calc(100vh - 153px);
    background-image: url(../img/bg-lctn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.locations-container {
    height: 100%;
}

.locations-holder {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.locations-title {
    font-size: 2rem;
    color: white;
}

.locations-block {
    height: 125px;
    background-color: rgba(245, 245, 220, 0.504);
}

.address-row {
    display: flex;
}

.address-column {
    width: 34%;
    position: relative;
}

.address-image {
    height: 700px;
    width: 100%;
}

.address-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.address-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #532019;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.address-column:hover 
.address-content {
    visibility: visible;
    opacity: 0.9;
}

.address-info {
    text-align: center;
    font-size: 1.2rem;
    color: white;
}

.wide {
    width: 100%;
    height: 400px;
}

.wide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vacancy-list {
    padding: 40px 0;
}

.vacancy-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    color: #532019;
    font-size: 1.2rem;
}

.vacancy-list-item:not(:last-child) {
    padding-bottom: 60px;
}

.list-item-desc {
    font-size: 0.8rem;
    width: 30%;
}

.vacancy-container {
    height: 100%;
}

.vacancy-form-holder {
    height: 100%;
    display: flex;
    justify-content: center;
}

.vacancy-form {
    background-color: #532019;
    padding: 60px 0;
}

.vacancy-form-title {
    font-size: 4rem;
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

.vacancy-form input {
    display: block;
    padding: 10px;
}

.vacancy-form p {
    display: block;
}

.form-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    color: white;
}

.form-category:not(:last-child) {
    margin-bottom: 30px;
}

.feedback {
    padding: 60px 0;
    background-color: rgba(241, 241, 207, 0.507);
}

.feedback-form-content {
    text-align: center;
}

.feedback-form-title {
    font-size: 4rem;
    color: #532019;
    margin-bottom: 40px;
}

.input-container input {
    padding: 10px 20px;
    border: 1px solid #532019;
    margin-bottom: 30px;
}

.input-container textarea {
    padding: 10px 20px;
    border: 1px solid #532019;
    resize: none;
    border: 1px solid #532019;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.input-container input::placeholder,
.input-container textarea::placeholder {
    color: #5320197c;
    text-align: center;
}

.comment {
    padding: 80px 0;
    text-align: center;
    background-color: #532019;
}

.comment-title {
    font-size: 1.6rem;
    color: white;
    margin-bottom: 40px;
}

.comment-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-card:not(:last-child) {
    margin-bottom: 30px;
}
    
.comment-avatar {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.comment-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment-name {
    margin-right: 50px;
    font-size: 1.2rem;
    color: white;
    width: 15%;
    text-align: left;
}

.comment-desc {
    font-size: 1rem;
    color: white;
    width: 40%;
    text-align: left;
}



























